body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    color: #61dafb; /* React blue color */
  }
  
  header p {
    margin: 5px 0 0;
    color: #61dafb;
  }
  
  section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    color: #61dafb;
  }
  
  a {
    color: #61dafb;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button {
    background-color: #61dafb;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #318fb5;
  }
  
  input[type="file"] {
    display: none;
  }
  
  label {
    background-color: #61dafb;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Add more styles as needed */
  